[submodule "In-App-Update"]
	path = In-App-Update
	url = git@github.com:hoanghiephui/In-App-Update.git
[submodule "lightweight-charts-android"]
	path = lightweight-charts-android
	url = git@github.com:hoanghiephui/lightweight-charts-android.git
